*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
    color: white;
}

/* regole generali */
.container{
    margin: 0 auto;
    width: 90%;
    /* debug */
}

.card{
    margin: 20px 0;
    border-radius: 15px;
    /* debug */
    min-height: 160px;
    border: 2px solid black;
}

.lilac{
    background-color: #9792e4;
}

.white{
    background-color: white;
}

.txt-cntr{
    text-align: center;
}


/* HEADER */
header{
    height: 80px;
    background-color: #0084fd;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color: darkorchid;    
}

#logo, #menu{
    /* debug */
    min-width: 10%;
    height: 40px;
    background-color: blue;
}

#menu{
    text-align: right;
}

#hamburger{
    /* debug */
}

#menu #main-nav{
    display: none;
}

/* MAIN */
section{
    padding: 5% 0;
}
/* SECTION Get a demo application */
#demo .card{
    background-color: #b5ddff;
}

/* section Strategic Planning */


/* section We are committed experts partners */

#partners .card{
    /* debug */
    border: 2px solid black;
}

/* sezione Benefits of working with us */
#benefits{
}


/* sezione About Us */


/* sezione GET STARTED */
#started{
    /* debug */
    min-height: 200px;
}

#started .card{
}

/* footer */
footer{
    background-color: #333333;
    /* debug */
    min-height: 200px;
}

footer .container{
}


/* RESPONSIVE TABLET */
@media screen and (min-width:768px) {
    /* MAIN */

    /* section Get a demo application */
    #demo .card-row{
        display: flex;
        gap: 20px;
    }

    #demo .card{
        width: calc(100% / 3 - 10px);
        margin-bottom: 20px;
    }

    #demo .card.big{
        width: calc(100% / 3 * 2);
    }

    /* sezione Benefits of working with us */
    #benefits .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #benefits .card{
        width: calc(50% - 15px);
    } 

    /* sezione About Us */
    #about .container{
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #about .card{
        width: 35%;
    }

    #about .card.big{
        width: 60%;
    }
    
}


/* RESPONSIVE DESKTOP */
@media screen and (min-width:1025px) {

    /* regole generali */
    .container{
        width: 60%;
        }

    /* HEADER */
    #hamburger{
        display: none;
    }

    #menu #main-nav{
        display: block;
    }

    #main-nav li{
        display: inline-block;
        /* debug */
        width: 20px;
        height: 10px;
        background-color: brown;
    }

    /* section Strategic Planning */
    #strategic .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        /* debug */
        height: 400px;
        background-color: burlywood;
    }

    #strategic .card{
        /* debug */
        background-color: brown;
        min-width: 300px;
    }

    /* sezione Benefits of working with us */
    #benefits .card{
        width: calc(100% / 3 - 15px);
    }

    /* sezione About Us */
    #about .container{
        width: 55%;
    }


}