*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
    color: white;
}

/* regole generali */
.container{
    margin: 0 auto;
    width: 85%;
}

#under-header{
    margin-top: 5vh;
}

.card{
    margin: 20px 0;
    border-radius: 15px;
    padding: 20px 15px;
}

.lilac{
    background-color: #9792e4;
}

.white{
    background-color: white;
}

.txt-cntr{
    text-align: center;
}

/* regole button */
button{
    border-radius: 20px;
    background: none;
    border: none;
}

button.blue{
    background-color: #0084fd;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
}

button.lilac{
    background-color: #9792e4;
    color: white;
    padding: 10px 40px;

}

button#nav-btn{
    padding: 7px 15px;
    background-color: white;
}

button#get{
    padding: 15px 50px;
    background-color: white;
    color: #9792e4;

}


/* regole testo */

h2{
    font-size: 50px;
    color: #9792e4;
}


h3{
    font-size: 25px;
}

h4{
    font-size: 1.3rem;
}

p{
    line-height: 25px;
    margin: 25px 0;
    font-size: 14px;
}

.txt-blue{
    color: #0084fd;
}

.txt-gray{
    color: #5e7385;
}

.txt-lilac{
    color: #9792e4;
}

/* regole immagini tonde */
.immagine-circle{
    width: 170px;
    height: 170px;
}

.immagine-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* HEADER */
header{
    height: 60px;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100vw;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo img{
    width: 70%;
}

#menu{
    text-align: right;
}

#hamburger{
    font-size: 25px;
}

#menu #main-nav{
    display: none;
}

/* MAIN */
section{
    padding: 5% 0;
}
/* SECTION Get a demo application */
#demo .card{
    background-color: #b5ddff;
    padding: 30px 25px 0 25px;
}


        /* regole immagine */
#demo .immagine{
    margin-top: 30px;
}

#demo img{
    width: 220px;
    display: block;
}

        /* regole testo */
#demo h4{
    color: #0084fd;
}

#demo p{
    color: #5e7385;
}

#demo .icon{
    color: #0084fd;
    font-size: 80px;
    margin-bottom: 10px;
}

/* section Strategic Planning */
#strategic .immagine img{
    width: 100%;
}

#strategic .testo{
    margin-top: 40px;
}

#strategic .card.white{
    border-radius: 40px;
    color: black;
    text-align: center;
}

#arrw-dwn{
    display: inline-block;
    background-color: #9792e4;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height:50px;
}

/* section We are committed experts partners */
#partners .card{
    text-align: center;
}

#partners h3{
    color: #9792e4;
    font-size: 30px;
    margin-top: 20px;

}

#partners .container:first-child{
    color: black;
}

#partners .card.lilac{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    border-radius: 40px;
}
/* sezione Benefits of working with us */
#benefits h2, h4{
    color: #9792e4;
}

#benefits p{
    color: #333333;
}

/* sezione About Us */
#about p{
    color: black;
    line-height: 30px;
}

#about h3{
    color: #9792e4;
    margin: 30px 0;
}

#about .immagine-circle{
    position: relative;
}

#quote{
    position: absolute;
    top: 20px;
    right: 20px;
    translate: 50% 50%;
    font-size: 70px;
}

/* sezione GET STARTED */
#free{
    color: #fdc15f;
    font-size: 50px;
    margin: 30px 0;
}

#started a{
    color: white;
}


/* footer */
footer{
    background-color: #333333;
}

footer .container{
    padding: 40px 0;
}

footer span{
    display: block;
    font-size: 12px;
    margin-top: 20px;
}

footer a{
    color: #9792e4;
}


/* RESPONSIVE TABLET */
@media screen and (min-width:768px) {
    /* MAIN */

    /* section Get a demo application */
    #demo .card-row{
        display: flex;
        gap: 20px;
    }

    #demo .card{
        width: calc(100% / 3 - 10px);
        margin-bottom: 20px;
    }

    #demo .card.big{
        width: calc(100% / 3 * 2);
    }

    /* sezione We are committed experts partners */
    #partners .card.lilac{
        justify-content: space-around;
    }

    #partners .testo{
        width: 60%;
    }

    /* sezione Benefits of working with us */
    #benefits .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #benefits .card{
        width: calc(50% - 15px);
    } 

    /* sezione About Us */
    #about .container{
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #about .card{
        width: 35%;
    }

    #about .card.big{
        width: 60%;
    }
    
}


/* RESPONSIVE DESKTOP */
@media screen and (min-width:1025px) {

    /* regole generali */
    .container{
        width: 60%;
        }

    /* HEADER */
    #hamburger{
        display: none;
    }

    #menu #main-nav{
        display: block;
    }

    #main-nav li{
        display: inline-block;
        margin-left: 20px;
        font-size: 15px;
    }

    #main-nav li a{
        color: white;
        text-decoration: none;
    }

    /* section Get a demo application */
    #demo .card.big{
        display: flex;
        justify-content: space-between;
    }

    #demo .testo{
        align-self: flex-start;
    }

    #demo .immagine{
        align-self: flex-end;
    }

    /* section Strategic Planning */
    #strategic .container{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 30px;
    }

    #strategic h3{
        margin-top: 100px;
    }

    /* sezione Benefits of working with us */
    #benefits .card{
        width: calc(100% / 3 - 15px);
    }

    /* sezione About Us */
    #about .container{
        width: 55%;
    }


}