*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}

.container{
    margin: 0 auto;
    /* debug */
}


/* HEADER */
header{
    height: 80px;
    background-color: #0084fd;
}

header .container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* debug */
    background-color: darkorchid;    
}

#logo, #menu{
    /* debug */
    min-width: 10%;
    height: 40px;
    background-color: blue;
}

#menu{
    text-align: right;
}

#hamburger{
    /* debug */
}

#menu #main-nav{
    display: none;
}

/* MAIN */
section{
    padding: 5% 0;
}
/* SECTION Get a demo application */
#demo .container{
    width: 90%;
}

.card{
    background-color: #b5ddff;
    margin: 20px 0;
    border-radius: 15px;
    /* debug */
    min-height: 160px;
}

/* section Strategic Planning */
#strategic{
    background-color: #9792e4;
}

#strategic .container{
    width: 90%;
}

/* RESPONSIVE TABLET */
@media screen and (min-width:768px) {
    /* MAIN */

    /* section Get a demo application */
    #demo .card-row{
        display: flex;
        gap: 20px;
    }

    #demo .card{
        width: calc(100% / 3 - 10px);
        margin-bottom: 20px;
    }

    #demo .card.big{
        width: calc(100% / 3 * 2);
    }


    
    
}


/* RESPONSIVE DESKTOP */
@media screen and (min-width:1025px) {

    /* regole generali */
    .container{
        width: 60%;
        }

    /* HEADER */
    

    #hamburger{
        display: none;
    }

    #menu #main-nav{
        display: block;
    }

    #main-nav li{
        display: inline-block;
        /* debug */
        width: 20px;
        height: 10px;
        background-color: brown;
    }

    /* section Strategic Planning */
    #strategic .container{
        width: 60%;
        display: flex;
        justify-content: space-between;
        /* debug */
        height: 400px;
        background-color: burlywood;
    }

    #strategic .card{
        /* debug */
        background-color: brown;
        min-width: 300px;
    }

    
    

}